<h1><%= @video.name %></h1>

<h3>Comments</h3><br>

<%= link_to "Add a comment", request.fullpath + '/comment' %>

<ul>
  <%= @comments.each do |comment| %>
    <li><%= comment.user.name + ": " + comment.body %></li>
  <% end %>
</ul>